<% content_for :title do %>
  Resolution Index Page
<% end %>

<section class='main-content-header'>
  <h1><%= content_for :title %></h1>
</section>
<section class="main-content">
  Resolution Page Content
</section>
